<script src="app.module.ts"></script>

<input type="file" (change)="handleFileUpload($event)">

<a id="download">newFile</a>

<hr>

<input type="text" [(ngModel)]="decimal.input" (keyup)="handleDecimalChange()" placeholder="DECIMAL">
<div>HEX: {{ decimal.hex }}</div>
<div>Binary: {{ decimal.binary }}</div>
<div>UTF: {{ decimal.acii }}</div>

<hr>


<input type="text" [(ngModel)]="heximal.input" (keyup)="handleHexChange()" placeholder="HEXIMAL">
<div>Decimal: {{ heximal.decimal }}</div>
<div>Binary: {{ heximal.binary }}</div>
<div>UTF: {{ heximal.acii }}</div>

<hr>
